/* General */
body,
html {
  font-family: "Avenir", "Helvetica", sans-serif;
  background-color: #f7f7f7;
  color: #393E41;
}

.site-container {
  padding: 50px 200px;
}

a {
  color: #949494;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
  color: #137572;
}

.container {
  padding: 40px 0;
}


/* Site title and navbar */
.site-title,
.nav-link,
nav {
  letter-spacing: 4px;
  text-align: center;
  color: #d8d8d8;
}

.nav-link {
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: none;
  color: #393E41;
}

.is-active {
  color: #393E41;
}


/* Project page */
.project-title {
  margin-top: 60px;
  letter-spacing: 4px;
}

.first {
  margin-top: 0;
}

.palettable img,
.weather-app img {
  height: 500px;
}

.calendar-app img,
.next-episode img,
.donut-touch img {
  width: 500px;
}

.project-info {
  display: flex;
  justify-content: space-between;
}

.project-desc {
  flex-grow: 1;
  margin-top: 0;
}

.palettable img,
.next-episode img,
.donut-touch img {
  padding-right: 20px;
}

/* Alternate which side the app screenshot is on */
.calendar-app .project-info,
.weather-app .project-info {
  flex-direction: row-reverse;
}

.calendar-app .project-desc,
.weather-app .project-desc {
  order: 1;
}

.calendar-app img,
.weather-app img {
  padding-left: 20px;
}


/* About page */
.about-me {
  display: flex;
}

.about-me img {
  height: 250px;
  padding-right: 20px;
}

.about-me p {
  margin-top: 0;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}


/* Contact page */
.contact p {
  margin-top: 0;
}
