body, html {
  font-family: "Avenir", "Helvetica", sans-serif;
  background-color: #f7f7f7;
  color: #393E41;
}

.nav-link {
  padding-right: 10px;
}

.site-container {
  padding: 50px 200px;
}

.skills-container {
  display: flex;
  justify-content: space-between;
}
