/* General */
body,
html {
  font-family: "Avenir", "Helvetica", sans-serif;
  width: 100%;
  background-color: #f7f7f7;
  color: #393E41;
}

.site-container {
  width: 70%;
  margin: 0 auto;
  padding-top: 40px;
}

a {
  color: #949494;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
  color: #137572;
}

.container {
  padding: 40px 0;
  margin: 0 auto;
}


/* Site title and navbar */
.site-title,
.nav-link,
nav {
  letter-spacing: 4px;
  text-align: center;
  color: #d8d8d8;
}

.nav-link {
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: none;
  color: #137572;
}

.is-active {
  color: #393E41;
}


/* Project page */
.project-title {
  margin-top: 60px;
  padding-bottom: 10px;
  letter-spacing: 4px;
  border-bottom: 1px solid #393E41;
}

.first {
  margin-top: 0;
}

.palettable img,
.weather-app img {
  height: 500px;
}

.calendar-app img,
.next-episode img,
.donut-touch img {
  width: 560px;
}

.project-info {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0 0;
}

.project-desc {
  flex-grow: 1;
  margin-top: 0;
}

.palettable img,
.next-episode img,
.donut-touch img {
  padding-right: 30px;
}

/* Alternate which side the app screenshot is on */
.calendar-app .project-info,
.weather-app .project-info {
  flex-direction: row-reverse;
}

.calendar-app .project-desc,
.weather-app .project-desc {
  order: 1;
}

.calendar-app img,
.weather-app img {
  padding-left: 30px;
}

.built-with {
  margin-bottom: 16px;
}

.technology {
  display: inline-block;
  text-align: center;
  margin: 5px 20px 5px 0;
  padding: 0 12px;
  background-color: #ffffff;
  border-radius: 10px;
}

.devicon {
  vertical-align: middle;
  max-width: 1em;
  margin-right: 5px;
}

.buttons {
  padding-top: 16px;
}

.button a {
  margin-right: 10px;
  font-weight: bold;
  text-decoration: none;
  background-color: #eaeaea;
  border-radius: 5px;
  padding: 10px;
}

.button a:hover {
  background-color: #d8d8d8;
}


/* About page */
.about-me {
  display: flex;
}

.about-me img {
  width: auto;
  height: 250px;
  padding-right: 30px;
}

.about-me p {
  margin-top: 0;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}


/* Contact page */
.contact h3 {
  margin-top: 0;
}

.contact input, .contact textarea {
  display: block;
  width: 250px;
}

.input-area {
  margin-bottom: 5px;
}


/* Footer */
footer {
  padding: 20px;
  width: 100%;
  background-color: #eaeaea;
  text-align: center;
}

footer a {
  font-size: 16px;
  margin: 25px 10px 10px 10px;
  text-decoration: none;
}

footer a:hover {
  text-decoration: none;
}

footer p {
  font-size: 12px;
}
